<!-- comment_thread.html -->
<div class="comment depth-{{ depth|default:0 }}" id="comment-{{ comment.id }}">
  <div class="depth-indicator"></div>
  
  <div class="comment-header">
    <div class="comment-author">
      {% if comment.user.profile.avatar %}
        <img src="{{ comment.user.profile.avatar.url }}" alt="{{ comment.user.username }}" class="avatar">
      {% else %}
        <div class="avatar-placeholder">{{ comment.user.username|first|upper }}</div>
      {% endif %}
      <span class="username">{{ comment.user.get_full_name|default:comment.user.username }}</span>
    </div>
    
    <div class="comment-meta">
      <span class="comment-date">{{ comment.created_at|timesince }} ago</span>
      {% if user.is_authenticated %}
        <button class="reply-btn" 
                data-comment-id="{{ comment.id }}" 
                data-comment-author="{{ comment.user.get_full_name|default:comment.user.username }}">
          Reply
        </button>
      {% endif %}
    </div>
  </div>
  
  <div class="comment-content">
    {{ comment.comment|linebreaks }}
  </div>
  
  <!-- Nested replies -->
  {% if comment.children.all %}
    <div class="comment-replies">
      {% for reply in comment.children.all %}
        {% include "include/comment_thread.html" with comment=reply depth=depth|add:1 %}
      {% endfor %}
    </div>
  {% endif %}
</div>