{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ single_blog.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ single_blog.created_at }} by {{ single_blog.author }}</div>
                    <!-- Post category-->
                    <a class="badge bg-primary text-decoration-none text-light" href="#!">{{ single_blog.category }}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ single_blog.featured_image.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ single_blog.short_description|strip_outer_p|safe  }}</p>
                    <p class="fs-5 mb-4">{{ single_blog.blog_body|strip_outer_p|safe  }}</p>

                   <!-- Comments Section -->
                <h4>Conversations <small class="text-muted">{{ comment_count }} comments</small></h4>

                {% if comments %}
                {% for comment in comments %}
                    {% include "include/comment_thread.html" with comment=comment depth=1 %}
                {% endfor %}
                {% else %}
                <p class="text-muted">No comments yet.</p>
                {% endif %}

                <hr>
                <!-- Add New Top-Level Comment -->
                <div class="mt-4">
                {% if user.is_authenticated %}
                    <h5>Add a Comment</h5>
                    <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="hidden" name="parent_id" value="">
                    <input type="submit" value="Submit" class="btn btn-primary mt-2">
                    </form>
                {% else %}
                    <p>Please <a href="{% url 'login' %}">login</a> to write a comment!</p>
                {% endif %}
                </div>


                </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for cat in categories %}
                                <li><a href="{% url 'posts_by_category' cat.slug %}">{{ cat.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            
            <h3 class="text-uppercase style=letter-spacing: 2px;">Recent Articles</h3> 
                <div class="row-md-2">
                <div class="col-md-25 blog-main">
                    {% for post in posts %}
                    <div class="card border-0" >
                    <div class="card-body">
                        <h5><a href="{% url 'blogs' category_slug=post.category.slug slug=post.slug %}" class="text-dark">{{ post.title }}</a></h5>
                        <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
                        <!--<p class="card-text">{{ post.short_description | truncatewords:20 }}</p>-->
                    </div>
                    </div>
                    {% endfor %}  
                </div>
            </div>   
            <!-- Side widget-->
             {% if social_links %}
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                    {% for i in social_links %}
                    <li><a href="{{ i.link }}" target="_blank">{{ i.platform }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
</div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.reply-toggle').forEach(function (btn) {
            btn.addEventListener('click', function () {
                const targetId = btn.getAttribute('data-target');
                const target = document.getElementById(targetId);
                if (target) {
                target.classList.toggle('d-none');
                }
            });
            });
        });
    </script>

   

{% endblock %}