{% extends 'dashboard/dashboard.html' %}
{% block meta_robots %}noindex, nofollow{% endblock %}

{% load pipeline %}
{% stylesheet 'main' %}
{% javascript 'main' %}
{% load crispy_forms_tags %}

{% block dashboard_content %}
<div class="dashboard-container">
    <div class="dashboard-main">
        <div class="form-card">
            {% if perms.auth.add_user %}
            <form action="{% url 'add_user' %}" method="POST" enctype="multipart/form-data" class="user-form">
                {% csrf_token %}
                {{ form|crispy }}

                <button type="submit" class="btn-submit">Submit</button>
            </form>

            {% else %}
            <div class="no-permission">
                <h5>🚫 You do not have permissions to view this page.</h5>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
