{% extends 'base.html' %}

{% block header %}
    {{ form.media }} <!-- Required for styling/js to make ckeditor5 work-->
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <!-- left sidebar -->
    <!-- load the sidebar here -->
     {% include 'dashboard/sidebar.html' %}

    <!-- Right side content -->
     <div class="col-md-9">
        <h2>Add New Post</h2>

        <form action="{% url 'add_post' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <br>
     </div>

     <!-- CKEditor 5 from CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script>
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
        console.error(error);
        });
    </script>


{% endblock %}