{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_tags %}

{% block dashboard_content %}

<div class="edit-user-container">
    {% if perms.auth.add_user %}
    <h2>Edit User</h2>

    <form method="post" enctype="multipart/form-data" class="edit-user-form">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn-save">Save Changes</button>
    </form>
    <br>
    {% else %}
    <h5>You do not have permissions to view this page</h5>
    {% endif %}
</div>
{% endblock %}
