{% extends 'dashboard/dashboard.html' %}
{% block meta_robots %}noindex, nofollow{% endblock %}


{% block dashboard_content %}
<div class="dashboard-container">

    <main class="dashboard-main">
        <div class="dashboard-header">
            <h1>All Posts</h1>
            <a href="{% url 'add_post' %}" class="btn-custom">+ Add New Post</a>
        </div>

        <div class="table-wrapper">
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Author</th>
                        <th>Status</th>
                        <th>Featured</th>
                        <th>Editors_Pick</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ post.title }}</td>
                        <td>{{ post.category }}</td>
                        <td>{{ post.author }}</td>
                        <td>{{ post.status }}</td>
                        <td>
                            {% if post.is_featured %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </td>
                        <td>
                            {% if post.is_editors_pick %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </td>
                        <td><a href="{% url 'edit_post' post.id %}" class="btn-icon edit">✏️</a></td>
                        <td>
                            <a href="{% url 'delete_post' post.id %}" 
                               class="btn-icon delete"
                               data-item-name="{{ post.title }}"
                               data-item-type="post">🗑️
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

</div>
{% endblock %}
